body {background-color: black;}
body {
    color: whitesmoke
}
hr{
    height: 0.01px;
    background-color: black;
    border: none;
}
p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: whitesmoke;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }
  h1 {
      color: rgb(157, 141, 19);
      font-family: "Lucida Console", Monaco, monospace;
      font-size: 25px;
      letter-spacing: 0px;
      word-spacing: 0px;
      color: rgb(157, 141, 19);
      font-weight: 400;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
  }
  h2 {
      color: rgb(157, 141, 19);
      font-family: "Lucida Console", Monaco, monospace;
      font-size: 20px;
      letter-spacing: 0px;
      word-spacing: 0px;
      color: rgb(157, 141, 19);
      font-weight: 400;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
  }
  h3 {
      color: rgb(157, 141, 19);
      font-family: "Lucida Console", Monaco, monospace;
      font-size: 20px;
      letter-spacing: 0px;
      word-spacing: 0px;
      color: rgb(157, 141, 19);
      font-weight: 400;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
  }
.homepagebtn {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.homepagebtn:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.homepagebtn:active {
	position:relative;
	top:1px;
}
.btnint {
    box-shadow:inset -1px 0px 7px 3px #23395e;
	background-color:transparent;
	border:2px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 13px;
	text-decoration:none;
	text-shadow:0px 3px 2px #263666;
}
.btnint:hover {
	background-color:transparent;
}
.btnint:active {
    position:relative;
	top:1px;
}
