body {background-color: black;}
body {
    color: whitesmoke
}
h1 {
    color: rgb(19, 155, 157);
}
h2 {
    color: rgb(19, 155, 157);
}
h3 {
    color: rgb(19, 155, 157);
}
  .button {
    display: inline-block;
    padding: 15px 225px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 13px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }